body {
background-image:url("https://image.freepik.com/free-vector/gradient-wallpaper-background_1159-5356.jpg");
background-size:cover;
display:flex;
justify-content:center;
flex-direction:column;
}
#title {
top:0px;
left:100px;
padding:10px;
margin:auto;
width:100%;
background-color:orange;
text-align:center;
z-index:10;
font-family: 'WaltographRegular';
font-weight: bold;
font-style: regular;
font-size:36px;
}

img {
margin-left: 5px;
margin-top:10px;
}

#container {
margin-top:20%;
margin-left:20%;
margin-right:20%;
margin-bottom:5%;
}

.row{
position:relative;
margin-left:15%;
margin-right:5%;
}

.white{
border: 1px solid black;
width: 10%;
height: 80px;
background-color:yellow;
float:left;
}

.black{
border: 1px solid brown;
width: 10%;
height: 80px;
background-color:#787878;
float:left;
}

.clear{
clear:both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

p {
   font-family: 'WaltographRegular';
   font-weight: normal;
   font-style: normal;
   margin-top: 10px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#footer {
border:solid 1px;
padding: 10px;
margin:10px;
display:flex;
justify-content:center;
flex-direction:row;
background-color:chartreuse;
}
