
* {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	text-align: center;}
body {
	background-color: lightblue;
	background-image: url("Yellow.PNG");
	background-size:cover;
	width: 90%;
	margin: 0 auto;
	display:flex;
	justify-content:center;
	flex-direction:column;}
#content {
	background-color: lightyellow;
	overflow: auto;}
#nav, #feature, #footer {
	background-color: red;	
	margin: 1%;}
.column1, .column2, .column3 {
	background-color: blue;
	width: 31.3%;
	float: left;
	margin: 1%;}
.column3 {
	margin-right: 0%;}
li {
	background-color: lightred;
	display: inline;
	padding: 0.5em;}
#nav, #footer {
	background-color: lavender;
	padding: 0.5em 0;}
#nav, #header {
	background-color: lavender;
	padding: 0.5em 0;}
#feature, .article {
	background-color: blue;
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;}

#content #feature img{
	background-color: lightyellow;
	width: 15em;
	height: 7em;
}
#content .article.column1{
	background-color: blue;}
#content .article.column2{
	background-color: blue;}
#content .article.column3{
	background-color: blue;}
h1{
 	font-family: 'SpaceMeatballRegular';
   	font-weight: normal;
   	font-style: normal;
	color: orange;
	text-align: center;
}
#content #feature {
	background-color: lightgreen;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: orange;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
