		<style type="text/css">
			head {
				font-family: Helvetica, Arial, sans-serif;
				color: orange;
				padding: 0 15% 0 15%;
				}
			body {
				font-family: Helvetica, Arial, sans-serif;
				color: #665544;
				padding: 0 15% 0 15%;
				}
			h1 {
				text-align:center;
				color:blue;
				font-family: 'DancingScriptRegular';
				font-size:400%;
				padding: 12px;
				}
			h2{
				padding: 12px;
				}
			p {
				text-align: center;
				font-family: 'DancingScriptRegular';
				font-weight: normal;
				font-style: normal;
				padding: 0 15% 0 15%;
				font-size:200%;
				}
			i, a, a:hover, a:visited {
				color:darkgreen;}
			.footer {
			  position: fixed;
			  left: 0;
			  bottom: 0;
			  width: 100%;
			  background-color: red;
			  color: white;
			  text-align: center;
			}
			ul {
			  list-style-type: none;
			  overflow: hidden;
			  margin: 0;
			  background-color: white;
			  padding: 0 .5% 0 .5%;
			  padding: 0;
			}

			li a {
			  display: block;
			  background-color: white;
			  padding: .5% 0 .5% 0;
			  margin: 1;
			  width: 60px;
			}

			li {
			  float: left;
			  padding: .5% 0 .5% 0;
			  margin-bottom: 5;
			}
		</style>
		
